.content{
    width: 90%!important;
    margin: 0 auto;
}

h1{
    text-align: center;
}

.muestra{
    display: flex;
}

.imagen{
    width: 60%;
    padding: 10px 10px;
    box-sizing: border-box;
    margin-top: auto;
    margin-bottom: auto;
}

.texto{
    padding: 5px 8px;
    text-align: left;
}